@tailwind components;
@tailwind utilities;

/*
tailwind base was commented out because it messed up the Markdown formatting from react-markdown,
because it removes a bunch of default styles that are needed for the markdown to render properly (links, paragraphs, etc.).
This font-family setting was copied from tailwind base at https://unpkg.com/tailwindcss@3.4.1/src/css/preflight.css
because sans-serif is what we want.
*/
/* @tailwind base; */
html,
:host {
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  text-align: center;
}

.loading {
  padding-top: 100px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "header header header"
              "sidebar content content";
}

.box {
  border-radius: 5px;
  padding: 10px;
}

.inputcol {
  text-align: left;
}

.labelcol {
  text-align: right;
}

.form-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "labelcol inputcol";
  grid-template-columns: 150px 300px;
}

.radio-button-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "labelcol inputcol";
  grid-template-columns: 50px 650px;
}

.form-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "labelcol inputcol";
  grid-template-columns: 150px 300px;
}

.art-conservators-wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "name bio website";
}


/*
The following 2 overrides are for the bottom pill buttons in the carousel component from antd.
*/
:where(.css-dev-only-do-not-override-42nv3w).ant-carousel .slick-dots li.slick-active button {
  background-color: black;
}
:where(.css-dev-only-do-not-override-42nv3w).ant-carousel .slick-dots li button {
  background-color: gray;
}
