@tailwind components;
@tailwind utilities;

/*
tailwind base was commented out because it messed up the Markdown formatting from react-markdown,
because it removes a bunch of default styles that are needed for the markdown to render properly (links, paragraphs, etc.).
This font-family setting was copied from tailwind base at https://unpkg.com/tailwindcss@3.4.1/src/css/preflight.css
because sans-serif is what we want.
*/
/* @tailwind base; */
html,
:host {
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
}

body {
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

.App {
  max-height: 100vh;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.loading {
  padding-top: 100px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "sidebar content content"
              "footer footer footer";
}

.box {
  border-radius: 5px;
}

.ant-carousel .slick-dots li button{
  background-color: gray;
}
.ant-carousel .slick-dots li.slick-active button{
  background-color: black;
}

.ant-slider-horizontal.ant-slider-with-marks {
  margin: 0;
}

.ant-slider .ant-slider-mark {
  font-size: 10px;
}

.yarl__toolbar {
  /* align-items: center; */
  display: grid !important;
  grid-gap: 10px;
  grid-template-areas:
              "custom-button yarl__button";
  /* grid-template-columns: 1fr 1fr; */
}
.yarl__button {
  display: flex;
}
.yarl__slide {
  flex-direction: column;
}

.custom-button {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "left-col right-col"
              "right-col"
              "right-col";
  grid-template-columns: 125px 125px;
}

.left-col {
  display: flex;
  justify-content: center;
}

.ant-modal-root .ant-modal-mask {
  z-index: 10000;
}
.ant-modal-root .ant-modal-wrap {
  z-index: 10001;
}

.contact-message textarea {
  min-height: 200px;
}

.favourite-button:hover {
  color: rgb(244 114 182) !important;
}

@media screen and (max-width: 600px) {
  .lightbox-painting-header {
    flex-direction: column
  }
}