@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
}

.loading {
  padding-top: 100px;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}


.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
              "header header header"
              "sidebar content content";
}

.box {
  border-radius: 5px;
  padding: 20px;
}
